.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 28px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;

  font-size: 26px;
  line-height: 26px;
  font-family: "Bebas Neue", "Arial", sans-serif;
  color: #ffffff;
  letter-spacing: 0.03em;
  background: transparent;
}

.main-header__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main-header__phone {
  color: #ffffff;
  text-decoration: none;
}

.main-header__phone :hover {
  opacity: 70%;
}

.main-header__phone :active {
  opacity: 50%;
}

@media (max-width: $desktop-width) {
  .main-header {
    box-sizing: border-box;
    min-width: 768px;
    padding-top: 40px;
    padding-right: 5.8%;
    padding-bottom: 56px;
    padding-left: 5.8%;

    font-size: 24px;
    line-height: 24px;
  }

  .main-header__logo svg {
    width: 82px;
  }
}

@media (max-width: $tablet-width) {
  .main-header {
    min-width: 320px;
    padding-top: 16px;
    padding-right: 15px;
    padding-bottom: 59px;
    padding-left: 15px;
    background: linear-gradient(37.72deg, rgb(0, 61, 133) 20.6%, rgb(184, 0, 39) 76.31%);
  }

  .main-header__logo svg {
    width: 68px;
  }

  .main-header__phone {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.02em;
  }
}
