.promo {
  position: relative;

  display: flex;
  width: 100%;
  max-width: 1160px;
  padding-bottom: 20px;

  letter-spacing: normal;
}

.promo__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 395px;
  margin-right: 5.4%;
  padding-top: 63px;
}

.promo__services {
  position: absolute;
  top: 302px;
  left: 1.5%;
}

.promo__services p {
  width: 113px;
  margin: 0;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  text-align: right;
  color: #ffffff;
}

.promo__link {
  box-sizing: border-box;
  width: 232px;
  height: 60px;
  margin-top: 60px;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-left: 50px;

  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  border: 4px solid #ffffff;
}

.promo__social {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  order: 1;

  text-align: right;
}

.promo__social-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.promo__social-item:last-of-type {
  margin-bottom: 0;
}

.promo img {
  margin-right: 190px;
}

@media (max-width: $desktop-width) {
  .promo {
    box-sizing: border-box;
    padding-top: 17px;
  }

  .promo img {
    width: 324px;
    height: 390px;
    margin: 0;
  }

  .promo__link {
    width: 182px;
    margin-top: 47px;
    padding: 30px 20px;
    padding-top: 22px;
    padding-right: 20px;
    padding-bottom: 22px;
    padding-left: 20px;
  }

  .promo__social {
    display: none;
  }

  .promo__container {
    margin-right: 4.8%;
    padding-top: 0;
  }

  .promo__services {
    top: 204px;
    left: 0;
  }
}

@media (max-width: $tablet-width) {
  .promo img {
    display: none;
  }

  .promo__container {
    align-items: center;
    width: 100%;
    margin-right: 0;
  }

  .promo__link {
    box-sizing: border-box;
    width: 100%;
    height: 63px;
    margin-top: 47px;
  }

  .promo__services {
    top: 193px;
    left: 0;
  }
}
