.reviews {
  position: relative;

  display: flex;
  flex-direction: column;
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 84px;
  padding-right: 10px;
  padding-bottom: 120px;
  padding-left: 10px;
}

.reviews h2 {
  margin: 0;
  margin-bottom: 57px;

  font-size: 49px;
  line-height: 49px;
  font-family: "Bebas Neue", "Arial", sans-serif;
  text-align: center;
  color: #102654;
  letter-spacing: 0.03em;
}


.reviews__items {
  width: 560px;
  margin: 0 auto;
  overflow: hidden;


  box-shadow: 0 0 40px rgba(28, 51, 116, 0.2);
}

.reviews ul {
  width: 9999px;
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.reviews li {
  display: inline-block;
  box-sizing: border-box;
  width: 560px;

  margin: 0;
  padding-top: 52px;
  padding-right: 67px;
  padding-bottom: 58px;
  padding-left: 62px;

  background: #1c3374;
}

.reviews__text p {
  margin: 0;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: #ffffff;
}

.reviews__text h3 {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 15px;

  list-style: none;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: #ffffff;
}

.reviews__container {
  display: flex;
}

.reviews img {
  margin-right: 30px;
  padding-top: 10px;
}

.reviews__button button {
  position: absolute;
  top: 293px;

  width: 20px;
  height: 32px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.reviews__button button:hover {
  opacity: 70%;
}

.reviews__button button:focus {
  border: 1px solid black;
  opacity: 70%;
}

.reviews__button button:active {
  opacity: 50%;
}

.reviews__button--left button {
  left: 21.5%;

  background-image: url("../img/arrow-left.svg");
}

.reviews__button--right button {
  right: 21.5%;

  background-image: url("../img/arrow-right.svg");
}

@media (max-width: $desktop-width) {
  .reviews {
    box-sizing: border-box;
    min-width: 768px;
    padding-top: 36px;
    padding-right: 5.8%;
    padding-bottom: 100px;
    padding-left: 5.8%;
  }

  .reviews h2 {
    margin-bottom: 45px;

    font-size: 42px;
    line-height: 42px;
  }

  .reviews__items {
    width: 566px;
  }

  .reviews li {
    width: 566px;
    padding-top: 54px;
    padding-right: 63px;
    padding-bottom: 58px;
    padding-left: 65px;
  }


  .reviews__button--left button {
    top: 225px;
    left: 5.5%;
  }

  .reviews__button--right button {
    top: 225px;
    right: 5%;
  }

  .reviews__text h3 {
    margin-bottom: 13px;
  }
}

@media (max-width: $tablet-width) {
  .reviews {
    min-width: 320px;
    padding-top: 35px;
    padding-right: 4.6%;
    padding-bottom: 71px;
    padding-left: 4.6%;
  }

  .reviews h2 {
    font-size: 32px;
    line-height: 32px;
  }

  .reviews__items {
    width: 78%;
  }

  .reviews h3 {
    line-height: 26px;
  }

  .reviews li {
    min-width: 226px;
    width: 226px;
    padding-top: 41px;
    padding-right: 25px;
    padding-bottom: 20px;
    padding-left: 25px;
  }

  .reviews__container {
    flex-direction: column;
    height: 275px;
  }

  .reviews__text p {
    position: relative;
    top: -40px;

    text-align: center;
  }

  .reviews img {
    position: relative;
    left: 19px;

    width: 68px;
    height: 68px;
    margin: 0;
    padding: 0;
  }

  .reviews__text h3 {
    position: relative;
    top: -65px;
    left: 100px;

    width: 62px;
    margin: 0;
  }

  .reviews__button--left button {
    top: 269px;
    left: 4.5%;

    width: 12px;
    height: 20px;

    background-image: url("../img/arrow-left-mobile.svg");
  }

  .reviews__button--right button {
    top: 269px;
    right: 4.5%;

    width: 12px;
    height: 20px;

    background-image: url("../img/arrow-right-mobile.svg");
  }
}
