.social {
  outline: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 107px;
}

.social__item {
  display: block;

  list-style: none;
  text-decoration: none;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.social__item:hover {
  opacity: 70%;
}

.social__item:active {
  opacity: 50%;
}

.social__item--facebook {
  width: 13px;
  height: 25px;

  background-image: url("../img/facebook-icon.svg");
}

.social__item--instagram {
  width: 25px;
  height: 25px;

  background-image: url("../img/insta-icon.svg");
}

.social__item--vkontakte {
  width: 25px;
  height: 14px;

  background-image: url("../img/vk-icon.svg");
}

@media (max-width: $desktop-width) {
  .social {
    min-width: 100px;
  }
}

@media (max-width: $tablet-width) {
  .social {
    justify-content: flex-start;
  }

  .social__item {
    margin-right: 12%;
  }

  .social__item:last-of-type {
    margin-right: 0;
  }

  .social__item--facebook {
    width: 14px;
    height: 27px;

    background-image: url("../img/facebook-icon-tablet.svg");
  }

  .social__item--instagram {
    width: 28px;
    height: 28px;

    background-image: url("../img/insta-icon-tablet.svg");
  }

  .social__item--vkontakte {
    width: 32px;
    height: 17px;

    background-image: url("../img/vk-icon-tablet.svg");
  }
}
